streamlit
pandas
spacy
scikit-learn
python-docx
PyPDF2
matplotlib
seaborn
# 👇 This downloads the spaCy model at deploy time
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
